<%- include('header') -%>

<img src="https://dag.ninja/img/error.jpeg">
<br>
<h3>OH NOES!!!</h3>
<br>
<b><i class="fa fa-exclamation-triangle"></i> ERROR: </b><u><%= err %></u>
<br><br>
<a href="https://example.com" class="btn btn-light" role="button"><i class="fa fa-undo"></i> Try again!</a>

<%- include('footer') -%>
